.chats-wrapper {
  height: 100%;
  display: flex;
}

.chats-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100%;
  background: #17181c;
  border-right: 1px solid #ffffff0f;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.chats-header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logout-button {
    padding: 10px 15px;
    height: 40px;
    border-radius: 12px;
  }

  h2 {
    color: #fff;
  }
}

.chats-list {
  display: flex;
  flex-direction: column;
}

.chats-list-container {
  position: relative;
  flex: 1;
}

.chat-card {
  color: #fff;
  padding: 20px;
  transition: background 0.2s;
  cursor: pointer;

  &:hover {
    background: #22252f;
  }
}

.chat-main-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.chat-user {
  display: flex;
  gap: 20px;
}

.chat-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  line-height: 101%;
  font-size: 25px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.0901960784);
  color: rgba(255, 255, 255, 0.6392156863);

  img {
    width: 100%;
    height: 100%;
  }
}

.chat-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #fff;

  span {
    color: #ffffffa3;
    font-size: 13px;
  }
}

.chat-last-message {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  color: rgba(255, 255, 255, 0.6392156863);
  font-size: 15px;
}

.messages-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.messages-window-header {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #17181c;
  padding: 10px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    border: none;
    background: none;
    transition: background 0.2s;
    cursor: pointer;

    &:hover {
      background: #22252f;
    }
  }
}

.messages-window-user {
  display: flex;
  align-items: center;
  gap: 10px;

  .chat-avatar {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .chat-name {
    flex: 1;
  }
}

.messages-window-messages-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #22252f;
    border-radius: 1000px;

    &:hover {
      background: #32343d;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: #22252f transparent;
}

.messages-window-messages {
  display: flex;
  padding: 20px;
  padding-bottom: 90px;
  flex-direction: column;
  justify-content: end;
  gap: 5px;

  &.loading {
    height: 100%;
  }
}

.messages-window-message-wrapper {
  display: flex;
  width: 100%;
  justify-content: end;

  &.incoming {
    justify-content: start;
  }
}

.messages-window-message {
  color: #fff;
  background: linear-gradient(239deg, #8849b4 0%, #735acd 50%, #735acd 100%);
  padding: 13px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  min-width: 55px;
  max-width: 70%;
  border-radius: 16px;
  text-align: end;

  &.incoming {
    text-align: start;
    background: linear-gradient(239deg, #3b3f5e 0%, #373a4e 50%, #32343d 100%);
  }
}

.messages-window-text-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.send-button {
  padding: 0 15px;
  font-size: 15px;
}

.message-input {
  background: #17181c;
}

.no-chats {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: #fff;
    padding: 5px 15px;
    background: #ffffff0f;
    border-radius: 1000px;
  }
}
