.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 35vw;
  min-height: 478px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px 50px;
  background: #17181c;
  border-radius: 28px;
  border: 1px solid #353638;
  box-shadow: 0 4px 24px #00000014;
  backdrop-filter: blur(25px);
  color: #fff;

  @media screen and (max-width: 1024px) {
    width: 65vw;
  }

  @media screen and (max-width: 576px) {
    width: 90vw;
  }
}

.hint-base {
  color: #ffffffa3;
  font-size: 14px;
  text-align: center;

  a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }
}

.auth-button {
  width: 100%;
  margin-top: auto;
}

.error-message {
  color: #ff7070;
  text-align: center;
}